/*---------------------
Project: TeaCozy
Developer: Andrew Vanderpool

I had four major issues I could not solve with this project. If you could give me insight into
them I would greatly appreciate it.

1. When shrinking the screen, the content continues to stay centered and cuts content on the left off.
I can take centering off, to fix it, but then of course things are not centered.

2. When using the links, it takes me to the content, but the fixed header cuts off some content
and scrolling is required.

3. The locations section is 500 tall, but requires 35px padding top and bottom to be able to see the image
the way it is shown in the redline and example so that the tea cup handle shows

4. In the redline, it appears my "address" div should be verticaly centered perfectly in the parent div,
with the "Locations" label above it positioned relatively above it. I could not achieve this exact effect
----------------------*/

/****Styling global****/
body {
  overflow: scroll;
  margin: 0px;
  background-color: black;
  font: 22px Helvetica;
  color: seashell;
  opacity: 0.9;
}

/****Styling of the header****/
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}

header nav {
  display: inline-flex;
  flex-wrap: wrap;
  text-decoration: underline;
}

nav a {
  margin: 10px;
  font: 22px Helvetica;
  color: seashell;
}

nav a:hover {
  color: orange;
}

.logo {
  display: inline-flex;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

/****Styling of content****/
.content {

  flex-direction: column;
  display: flex;
  align-items: center;
  width: auto;

  margin-top: 44px;
  justify-content: center;
}

.section {
    width: 100%;
  display: flex;
  flex-direction: column;
  margin: 25px 0px;

}

div.title {
  text-align: center;
  width:auto;
}

div.specials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.item {
  flex-direction: column;
}

.item img {
  height: 200px;
  width: 300px;
  margin: 20px 15px 10px 15px;
}

.item h4 {
  width: 300px;
  margin: 0px 15px 15px 15px;
  text-align: center;
}

.address {
  display: flex;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px 20px;
  width: 300px;
  text-align: center;
  background-color: black;
  opacity: 1;
}

.block h3 {
  margin: 15px 0px;
}

/****Styling of footer****/
footer {
  width: 100%;
}

div.contact {
  text-align: center;
  height: 200px;
}

div.copyright {
  text-align: left;
  margin: 20px;
}

/*Very specific stlyings with ID's*/
#featured {
  width: 1000px;
}

#featured .title h4 {
  margin: 0px;
}

#locations {
  background-image: url(./images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 35px 0px;
}

#locations h2 {
  text-align: center;
  margin: 0px;
}

#mission {
  justify-content: center;
  align-items: center;
  background-image: url(./images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

#mission h2, #mission h4 {
  text-align: center;
  width: 1200px;
  margin: 0px;
  padding: 10px 0px;
  background-color: black;
}
